*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(50, 190, 205);
}

.card{
    text-align: center;
    background-color: aliceblue;
    width: 300px;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 10px 10px 20px rgb(109, 237, 100);

}
p{
    margin: 20px;
}

h2{
    margin:10px;
}

button{
    padding: 5px;
    border-radius: 5%;
    border: 5px;
    cursor: pointer;
    background:rgb(50, 190, 205);
    color: white;
    transition: all ease 1s ;
    &:hover{
        background:  rgb(109, 237, 100) ;
        transform: scale(1.1);
    }

}
